<div class="container-fluid">
 <table class="index_table index">
    <thead>
      <tr>
      	<th></th>
        <th>Id</th>
        <th >Role</th>
        <th >Email</th>
        <th>Current Sign In At</th>
        <th>Sign In Count</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% $i=1 %>
    <% AdminUser.all.each do |f,i| %>
    	<% if f.role == params[:role] %>
	    	<% if $i.even? %>
			    <tr class="even">
			<% else %>
		    	<tr class="odd">
		    <%end%>
		    	<td></td>
		        <td><%= link_to  f.id, admin_admin_user_path(id: f.id) %></td>
		        <td><%= f.role%></td>
		        <td><%= f.email%></td>
		        <td></td>
		        <td></td>
		        <td><%= f.created_at%></td>
		        <td></td>
		    </tr>
		    <% $i += 1 %>
	    <%end%>
	<%end%>
</table>